@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Sarala:wght@400;700&display=swap');
:root{
    /* color */
    --primary-color:black;
    --secondary-color:white;
    --green-color:#236E57;
    --orange-color:#F05830;
    --grey-color:#807D7D;
    --bg-color:#FFF8F1;
    /* color */
    
    /* font-size */
    --fs-12:12px;
    --fs-18:18px;
    --fs-20:20px;
    --fs-24:24px;
    --fs-32:32px;
    --fs-40:40px;
    --fs-42:42px;
    --fs-56:56px;
    --fs-48:48px;
    --fs-62:62px;
    /* font-size */

    /* font-weight */
 
    --fw-500:500;
    --fw-700:700;
    --fw-400:400;
 

    /* font-weight */
}
.fs-20{
    font-size: var( --fs-20);
}
.fs-24{
    font-size: var( --fs-24);
}
.fs-48{
    font-size: var( --fs-48);
}
.fs-18{
    font-size: var( --fs-18);
}
.fw-500{
    font-weight: var(--fw-500);
}
.fw-400{
    font-weight: var(--fw-400);
}
.fw-700{
    font-weight: var(--fw-700);
}
.clr-white{
    color: var( --secondary-color);
}
.clr-black{
    color: var( --primary-color);
}
.clr-gray{
    color: var(  --grey-color);
}